services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-master}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-nugu_skeleton}
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - local

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - ./redis/data:/data
    command: redis-server --appendonly yes
    networks:
      - local

  kafka:
    image: confluentinc/cp-kafka:7.8.1
    container_name: kafka
    ports:
      - "${KAFKA_LISTENER_PORT_PLAINTEXT:-9092}:9092"
      - "${KAFKA_LISTENER_PORT_SSL:-9093}:9093"
    environment:
      KAFKA_PROCESS_ROLES: ${KAFKA_PROCESS_ROLES:-broker,controller}
      KAFKA_NODE_ID: ${KAFKA_NODE_ID:-1}
      KAFKA_CONTROLLER_QUORUM_VOTERS: ${KAFKA_CONTROLLER_QUORUM_VOTERS:-1@kafka:9093}
      KAFKA_LISTENERS: ${KAFKA_LISTENERS:-PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,INTERNAL://0.0.0.0:29092}
      KAFKA_ADVERTISED_LISTENERS: ${KAFKA_ADVERTISED_LISTENERS:-PLAINTEXT://localhost:9092,INTERNAL://kafka:29092}
      KAFKA_CONTROLLER_LISTENER_NAMES: ${KAFKA_CONTROLLER_LISTENER_NAMES:-CONTROLLER}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: ${KAFKA_LISTENER_SECURITY_PROTOCOL_MAP:-PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT}
      KAFKA_INTER_BROKER_LISTENER_NAME: ${KAFKA_INTER_BROKER_LISTENER_NAME:-INTERNAL}
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: ${KAFKA_AUTO_CREATE_TOPICS_ENABLE:-true}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: ${KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR:-1}
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: ${KAFKA_TRANSACTION_STATE_LOG_MIN_ISR:-1}
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: ${KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR:-1}
      CLUSTER_ID: ${CLUSTER_ID:-kafka}
    volumes:
      - ./kafka/data:/var/lib/kafka/data
    networks:
      - local

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    restart: always
    depends_on:
      - kafka
    ports:
      - "${KAFKA_UI_PORT:-9098}:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: ${KAFKA_CLUSTERS_0_NAME:-local}
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: ${KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS:-kafka:29092}
      KAFKA_CLUSTERS_0_PROTOBUF_ENABLED: ${KAFKA_CLUSTERS_0_PROTOBUF_ENABLED:-true}
      DYNAMIC_CONFIG_ENABLED: ${DYNAMIC_CONFIG_ENABLED:-true}
    networks:
      - local

  opensearch:
    image: opensearchproject/opensearch:3.0.0
    container_name: opensearch
    environment:
      - cluster.name=${OPENSEARCH_CLUSTER_NAME:-opensearch-single}
      - node.name=${OPENSEARCH_NODE_NAME:-opensearch}
      - discovery.type=${OPENSEARCH_DISCOVERY_TYPE:-single-node}
      - bootstrap.memory_lock=${OPENSEARCH_MEMORY_LOCK:-true}
      - "OPENSEARCH_JAVA_OPTS=${OPENSEARCH_JAVA_OPTS:--Xms512m -Xmx512m}"
      - "DISABLE_INSTALL_DEMO_CONFIG=${DISABLE_INSTALL_DEMO_CONFIG:-true}"
      - "DISABLE_SECURITY_PLUGIN=${DISABLE_SECURITY_PLUGIN:-true}"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - ./opensearch/data:/usr/share/opensearch/data
      - ./opensearch/init:/init
    ports:
      - "${OPENSEARCH_HTTP_PORT:-9200}:9200"
      - "${OPENSEARCH_METRICS_PORT:-9600}:9600"
    networks:
      - local
    command: [ "bash", "/init/init.sh" ]

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3.0.0
    container_name: opensearch-dashboards
    depends_on:
      - opensearch
    ports:
      - "${OPENSEARCH_DASHBOARDS_PORT:-5601}:5601"
    expose:
      - "5601"
    environment:
      OPENSEARCH_HOSTS: ${OPENSEARCH_DASHBOARDS_HOSTS:-http://opensearch:9200}
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: ${DISABLE_SECURITY_DASHBOARDS_PLUGIN:-true}
    networks:
      - local

networks:
  local:
    driver: bridge
